
* {margin: 0;padding: 0;}
	div{padding: 10px;}
	.accordian-item {background-color: #333;margin-bottom: 5px; color: #FFF;}
	.accordian-content {background-color: #DDD;margin-bottom: 5px;display: none;}
	.accordian-inner-item {background-color: #888;margin-bottom: 5px; color: #FFF;}
	.accordian-inner-content {background-color: #DDD;margin-bottom: 5px;display: none;}
	@font-face{
		font-family: 'yts';
		src: url(Yt1b2_S8ns/YouTube-Sans-Light.otf);
	}
	*{font-family: 'yts';}
	#content-mid{width: 100%; height: 500px; margin: 0 auto; background-color: #f6f6f6;}
	#tab-layer-wrap{width: 1105px; height: 100%; margin: 0 auto;}
	#tab-layer-wrap, #tab-layer-wrap * {box-sizing: border-box;}
	#tab-layer-wrap .tab-menu>.item{padding:10px 0;cursor: pointer;}
	.tab-cont-wrap{height: 400px; margin-top: 10px;}
	.tab-menu-content{height: 100%;}

	.tab-menu {margin: 0;padding: 0;overflow: hidden;display: flex;flex-direction: row;width: 100%; justify-content: space-between;}
	.tab-menu .item{width: 17%; text-align: center; font-size: 17px; font-weight: bold;}
	.tab-menu .item a {display: inline-block;color: #000;text-align: center;text-decoration: none;padding: 14px 16px;font-size: 17px;transition:0.3s;}
	.tab-menu .item:hover{border-bottom: 7px solid #425094; color: #425094;}
	.tab-menu .current{border-bottom: 7px solid #425094; color: #425094;}
	.tab-menu .un-current{border-bottom: 7px solid #A5A5A5; color: #A5A5A5;}

	.tab-menu-item {display: none; width: 100%;height: 100%;}
	.tab-menu-item.current {display: block;}

	
	.like-img{width: 100%; height: 100%; text-align: center; font-size: 35px; font-weight: bold; line-height: 220px; color: #23AAF2; background-color: #252526;}
	.MyClass{width: 1104px; height: 220px; overflow: hidden;}
